<p>You can use this tool to train yourself on how to recognize numbers (listening comprehension).</p>
<p>I have noticed that when I am listening to a sentence, and a number pops up, it is hard for me to 'visualize it'.</p>
<p>With this tool, you can choose a language and train yourself to understand some random numbers.</p>
<hr>
<p>This project is made with AngularJS, I wanted to learn this framework. Do not hesitate to suggest to me any corrections on how I implemented it.<br>
You can find <a href="https://github.com/Polopollo/numberProject">the source code here</a></p>